@model MvcMovie.Models.ReviewDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
<thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Review
        </th>
        <th>
            Review Date
        </th>
       
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.ReviewsList)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
    </tr>
            }
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Review</label>

                @*<input type="text" name="review" class="form-control" />*@
                <textarea class="form-control" name="review"></textarea>
            </div>

            <div id="myButton" class="form-group">
                <input  type="submit" value="Submit" class="btn btn-primary" />
            </div>

            <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "https://localhost:44328/Movies/Details/";
    };
            </script>
        </form>
    </div>
</div>

